{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}


    <table>
        <tr>
            <th>Type</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Cost</th>
        </tr>
        {% for transaction in user_transactions %}

            <tr>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.shares }}</td>
                <td>{{ transaction.cost }}</td>

            </tr>
        {% endfor %}
    </table>




{% endblock %}
